<div class="container mb-5">
  <hr />
  <!-- Property Binding Pada DIV -->
  <div [class]="contentClas">
    <h3>Materi Property Binding:</h3>

    <h3 [innerHTML]="title"></h3>
    <p [innerHTML]="paragraf"></p>
    <a [href]="documentataionLink">documentataionLink</a>

    <br />

    <button
      [disabled]="isClassSpecial"
      (click)="changeClassType('special')"
      class="btn btn-warning me-3 mt-5"
    >
      Special
    </button>
    <button
      [disabled]="!isClassSpecial"
      (click)="changeClassType('default')"
      class="btn btn-danger mt-5"
    >
      Default
    </button>

    <br />

    <h4 class="mt-3 text-white fw-bold">{{ parentData }}</h4>
  </div>
</div>
