<router-outlet />

<app-parent></app-parent>
<app-data-binding></app-data-binding>
<app-property-binding [parentData]="dataPropertyBinding"></app-property-binding>
<app-event-binding></app-event-binding>

<app-two-way-binding [(counter)]="counter"></app-two-way-binding>

<!-- Ini kalau ngak Two Way Binding -->
<!-- <app-two-way-binding
  [counter]="counter"
  (counterChange)="counter = $event"
></app-two-way-binding> -->

<app-directives></app-directives>
<app-directive-ngclass></app-directive-ngclass>
<app-directive-ngstyle></app-directive-ngstyle>
<app-directive-structural></app-directive-structural>

<div class="container mb-5">
  <hr />

  <p>Silahkan arahkan kursor ke tulisan Dibawah:</p>
  <input type="radio" name="colors" (click)="color = 'red'" />Red
  <input type="radio" name="colors" (click)="color = 'lightgreen'" />Green
  <input type="radio" name="colors" (click)="color = 'yellow'" />Yellow

  <p [appHighlight]="color">Highlight Me!</p>
</div>

<app-list-user></app-list-user>
<app-user-api></app-user-api>
<app-display-json></app-display-json>
<!-- <app-swiper-js></app-swiper-js> -->
<app-observable></app-observable>
<app-interceptor></app-interceptor>
