.task-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px; 
    width: 300px;
    background-color: #f5f5f5;
    cursor: grab;


    div{
        padding: 10px;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        cursor: grab;
       
        &:active{
            cursor: grabbing;
        }
}
}