<div class="container mb-5">
  <hr />
  <h3>{{ title }}</h3>

  <br />
  <swiper-container loop="true" navigation="true" pagination="true">
    <swiper-slide lazy="true">
      <img src="https://picsum.photos/1500/750?random=1" loading="lazy" />
    </swiper-slide>
    <swiper-slide lazy="true">
      <img src="https://picsum.photos/1500/750?random=2" loading="lazy" />
    </swiper-slide>
    <swiper-slide lazy="true">
      <img src="https://picsum.photos/1500/750?random=3" loading="lazy" />
    </swiper-slide>
    <swiper-slide lazy="true">
      <img src="https://picsum.photos/1500/750?random=4" loading="lazy" />
    </swiper-slide>
    <swiper-slide lazy="true">
      <img src="https://picsum.photos/1500/750?random=5 " loading="lazy" />
    </swiper-slide>
  </swiper-container>
  <br />
  <br>
  <h4>{{ subTitle }}</h4>
  <swiper-container
    effect="cards"
    grab-cursor="true"
    style="width: 600px;"
  >
    <swiper-slide lazy="true">
      <img src="https://picsum.photos/400/600?random=1" loading="lazy" />
    </swiper-slide>
    <swiper-slide lazy="true">
      <img src="https://picsum.photos/400/600?random=2" loading="lazy" />
    </swiper-slide>
    <swiper-slide lazy="true">
      <img src="https://picsum.photos/400/600?random=3" loading="lazy" />
    </swiper-slide>
    <swiper-slide lazy="true">
      <img src="https://picsum.photos/400/600?random=4" loading="lazy" />
    </swiper-slide>
    <swiper-slide lazy="true">
      <img src="https://picsum.photos/400/600?random=5 " loading="lazy" />
    </swiper-slide>
  </swiper-container>
</div>
