<div class="container mb-5">
  <hr />

  <h3>{{ title }}</h3>

  <br />

  <div class="row" *ngIf="cars.length >= 4; else MyTemplate">
    <div *ngFor="let car of cars" class="col-md-3">
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="{{ car.imgUrl }}"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ car.name }}</h5>
              <h6 class="card-text">Brand: {{ car.brand }}</h6>
              <h6 class="card-text">Color: {{ car.color }}</h6>
              <div [ngSwitch]="car.discount">
                <h6 *ngSwitchCase="10" class="card-text fw-bold">
                  {{ car.discount }}%
                </h6>
                <h6 *ngSwitchCase="30" class="text-card fw-semibold fst-italic">
                  {{ car.discount }}%
                </h6>
                <h6 *ngSwitchCase="5" class="text-card fst-italic">
                  {{ car.discount }}%
                </h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #MyTemplate>
  <p>Cars is Empty Because Length of Cars Less Than 5</p>
</ng-template>
